/*------------------Global Styling-------------------*/
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 16, 16);
    overflow-x: hidden;
}
.collection{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
li{
    padding:0 12px;
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;  
}
img{
    width: 150px;
}
.card{
    width: auto;
    height:auto;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0;
    box-shadow: 2px 2px 2px darkgray;
    background-color: whitesmoke;
    opacity: 0.9;
}
.container{
    max-width: 80%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    overflow: hidden;
}
.btn{
    padding:12px 16px;
    background-color:rgb(247, 70, 16);
    border: 0;
    outline: none;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    margin-top: 16px;
}
.secondary-btn{
    margin-top: 10px;
    padding:12px 16px;
    font-size: 14px;
    font-weight: bold;
    border:none;
    width: 200px;
    height: 50px;
    background-color: red;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.5s ease-in-out;
}
.secondary-btn:hover{
    background-color: white;
    color: black;
    border: none;
}
.secondary-btn:hover i{
    color: black;
    margin-left: 10px;
}
.btn:hover{
background-color: rgb(134, 28, 4) ;
color: white;
}
.bg-dark{
background-color: rgb(0, 0, 0);
}
.current{
    color: rgb(247, 70, 16);
    font-weight: 600;
}
.row{
    width:100%;
    margin-top: 16px;
}
label{
    position: absolute;
    padding:8px;
    color:rgb(167, 164, 164);
    
}
#name{
    width: 100%;
   outline: none;
   border: none;
   border-bottom: 1px solid lightgray;
   padding: 8px;
   background-color: transparent;

}
.flex{
    flex-wrap: wrap;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-row-gap: 80px;
}
/*------------------Navbar-------------------*/
.navbar{
    position: fixed;
    width: 100%;
    height: auto;
    padding: 10px;
    box-shadow: 0 4px 4px;
    z-index: 100;
    border-bottom: 1px solid red;
    
}
.navbar h2{
    font-size: 28px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.navbar h2 span{
    color: red;
}
.navbar h2 a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: 8px;
    font-size: 28px;
    font-weight: 600;

}
.collection a:hover{
    border-bottom: 2px solid red;
    font-weight: 500;
    opacity: 0.8;
}
i{
    color:white;
    font-size: 16px;
    padding-right:8px;
}
#toggle i{
    position: absolute;
    padding:20px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
/*--------------------------Showcase--------------------------------*/
.showcase{
    position:relative;
    background: url(https://images.unsplash.com/photo-1556817411-31ae72fa3ea0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE0fHx3b3Jrb3V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    object-fit: cover;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
}
.text-area{
    margin: 0;
    padding:0;
   
}
.text-area h1{
    color: white;
    font-weight: 600px;
    text-align: left;
    font-size: 64px;
    margin-top: 100px;
}
.text-area p{
    text-align: left;
    line-height: 28px;
    font-size: 24px;
    color: white;
    margin-top: 16px;
    margin-bottom: 20px;
  
}
/*--------------------------Features--------------------------------*/
.special-feature{
    background-color: black;
   }
.feature:hover{
    max-width: 400px;
    max-height: 400px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    background-color: rgba(32, 30, 30, 0.7);
    border: none;
    padding: 24px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 12px rgb(245, 64, 64);
   
}
.feature{
    max-width: 400px;
    max-height: auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    background-color:transparent;
    padding: 24px;
    border:1px solid rgb(247, 70, 70);
    margin-bottom: 20px;
    margin-top: 10px;
    transition: all .3s ease-in-out;
   
}
.star{
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 12px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    margin-top: 0;
}
.star > i{
    font-size: 28px;
    color: rgb(247, 70, 70);
}
.feature h2{
    font-size: 20px;
    text-align: left;
    
}
.feature p{
    text-align: left;
    line-height: 20px;
    
}
.hero-btn, i{
    font-size: 12px;
}
/*--------------------------Popular Classes--------------------------------*/

.popular-classes{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    background-color: black;
    
}
.popular h2{
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    background-color:black;
    color: white;
    padding:16px;
}
.popular-gallery h2{
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    background-color:black;
    color: white;
    padding-top: 80px;
    padding-bottom: 10px;
   }
.classes{
    width:200px;
    height:250px;
    transition:all .5s ease-in-out;
}
.classes:hover{
    transform: translateY(-20px);
    opacity: 0.6;
}
.classes h2{
    display: block;
    text-align: center;
    font-size: 16px;
    padding:8px;
    font-family: Arial, Helvetica, sans-serif;
}
.class img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-position: center;
}
/*--------------------------Feature Showcase Ads--------------------------------*/
.feature-showcase,img{
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width:100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    
   
}
/*--------------------------Pricing Section--------------------------------*/
.Pricing{
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.Pricing h2{
    width:100%;
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: white;
   
}
.Pricing-card{
    width: 300px;
    height:350px;
    background-color: white;
    border-radius: 8px;
    display: block;
    padding: 0;
    margin: 20px 0;
}
.Pricing-card .price-tag{
    width:100%;
    height: 100px;
    background-color: red;
    border-radius: 8px;
    padding: 10px;
}
.Pricing-card .plan{
    width: 300px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color:inherit;
}
.active{
    background-color: red;
}
.price-tag h4,p{
    margin: 5px 0;
    color: white;
    text-align: center;
    padding: 4px;
}
.price-tag h4{
    font-size: 24px;
    font-weight: 600;
}
.price-tag span{
    font-weight: 600;
    font-size: 20px;
}
.Pricing-card .plan ul{
    list-style: none;
    padding: 20px;
    margin: 0;
    width: 100%;
    height: 200px;
}
.Pricing-card .plan ul li{
    text-align: left;
    display: block;
    padding: 4px;
   
}
.plan i{
    font-size: 14px;
   
    
}
.hero-btn1{
    padding: 8px;
    color: white;
    font-size: 14px;
    background-color: black;
    border-radius: 8px;
    margin-bottom: 20px;
}
/*-------------------Contact form----------------*/
.contact-form{
    background-image: url('https://images.unsplash.com/photo-1603233720024-bebea0128645?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjQwfHx3b3Jrb3V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    object-fit: fill;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:auto;
   }
.form-container{
    max-width: 80%;
    padding:50px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin: auto;
   }
.form{
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.form h2{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding-top: 80px;
    color: white;
}
.form .form-input{
    width: 500px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.form-input input,textarea{
    width: 100%;
    padding: 12px;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 0;
    outline: none;
   
}
.form-input input[type='submit']{
    background-color: red;
    color: white;
    border-radius: 8px;
    outline: none;
    border: 0;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.invalid{
    box-shadow: 0.5px 0.5px 8px red;
}
.hidden{
    display: none;
}
.form-input .error{
    width:100%;
    padding:4px;
    text-align: left;
    color: red;
    font-size: 16px;
}
.success-msg{
    position: relative;
    margin: auto;
    margin-top: 50%;
    font-size: 20px;
    width: 350px;
    height: auto;
    font-weight: 400;
    color:darkgray;
    background-color: white;
    text-align: center;
    padding:40px 20px;
    border-radius: 12px;
    box-shadow: 1px 1px 16px rgba(18, 238, 29, 0.5);
}
/*-------------------About Us----------------*/
.about{
    position: relative;
    width: 100%;
    background-image: url('https://www.heart.org/-/media/Images/Healthy-Living/Fitness/BreakingDownBarriersFitness.jpg?h=417&w=740&hash=DC427ED98E1ED6D0D269A8131CF0AF89');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: fill;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0 10%;
}
.about-text{
    background-color: black;
    height:auto;
    width: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 12px;
}
.about-text h2{
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    padding: 20px;
    color: white;
}
.about-text p{
    font-size: 16px;
    text-align: left;
    padding: 0 20px;
    line-height: 24px;
}
.icons{
    padding: 20px;
    display: flex;
    width: auto;
   justify-content: flex-start;
   align-items: flex-start;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icon i{
    font-size: 24px;
    color: red;
    margin-left: 6px;
}
.about-image{
    text-align: center;
    height:400px
}

.profile-img, .p-image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 1px 1px 12px;
}
.about-image h2{
    font-weight: 800;
    font-size: 20px;
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 0;
}
.about-image h2 span{
    color: red;
}
/*-------------------Footer----------------*/
footer{
    width: 100%;
    height: auto;
    background-color: #1d1e1f;
    padding-top: 40px 0;
    position: relative;
   
}


footer h2{
    margin-left: 20px;
    font-size: 28px;
    color: white;
}
footer ul{
    margin: 0;
    padding-top: 20px;
}
footer ul li{
    list-style: none;
    text-align: left;
}
footer ul li a{
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    color: white;
    line-height: 30px;
}
footer ul li a:hover{
    color: red;
}
.sqr2 ul{
    display: inline-block;
    margin-left: 4px;
    
}
.sqr2 ul li{
    float:right;
    padding: 0;
    
    
    
}
/*-------------------copyright section----------------*/
.copyright{
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
    position: relative;
        
    
 }
 .copyright p{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
      
 }
 .copyright a{
    text-decoration: none;
    color:red;

 }
 
 .top-btn{
    width: 50px;
    height: 50px;
    margin-top: -35px;
    border-radius: 25px;
    background-color: #2c2f30;
    right:50%;
        position: absolute;
   border-color: white;
   color: white;
     display: flex;
   align-items: center;
   justify-content: center;
    z-index: 10;
    transition: 0.3s;
    text-align: center;
 }
 .top-btn i{
    margin-left: 8px;
    color: white;
    font-size: 12px;
}
 .top-btn:hover{
    background-color:red;
 }
 
    

@media (max-width: 768px){
    .navbar{
        position: fixed;
        width: 100%;
        height: auto;
        padding: 0;
        box-shadow: 0 4px 4px;
        z-index: 100;
        border-bottom: 1px solid red;
        
    }
    .container{
        display: block;
        background-color: transparent;
        text-align: center;
    }
    .collection{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        display: none;
    }
    li{
        padding: 20px;
    }
    #toggle i{
        position: absolute;
        padding:20px;
        font-size: 24px;
        cursor: pointer;
        display: block;
    }
    .collection.active{
        display:flex;
        background-color: black;
    }
   .text-area h1, .text-area p{
    text-align: left;
   }
   .text-area p{
    font-size: 18px;
   }
    .text-area h1{
        margin-top: 80px;
        font-size: 42px;
    }
    .feature-showcase, img{
        position:relative;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        width:100%;
        height: auto;
        display: flex;
        justify-content: space-between;
       
    }
    .popular-gallery h2{
        display: block;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        background-color:black;
        color: white;
        padding-top: 80px;
        padding-bottom: 10px;
       }
       .popular h2{
        font-size: 24px;
       }
       .feature{
        max-width: 350px;
        height: 350px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        color: white;
        background-color:transparent;
        padding: 12px;
        border:1px solid rgb(247, 70, 70);
        margin-bottom: 20px;
        margin-top: 10px;
        transition: all .3s ease-in-out;
    }
    .feature h2{
        font-size: 20px;
        text-align: left;
    }
    .feature p{
        text-align: left;
        line-height: 20px;
    }
    .feature:hover{
        max-width: 350px;
        height: 350px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        color: white;
        background-color: rgba(32, 30, 30, 0.7);
        border: none;
        padding: 12px;
        margin-bottom: 20px;
        box-shadow: 1px 1px 12px rgb(245, 64, 64);
       
    }
    .popular-classes{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;
        background-color: rgb(14, 13, 13);
    }
    .classes h2{
        font-size: 16px;
    }
    .Pricing{
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(0, 0, 0);
    }
    .Pricing h2{
        font-size: 20px;
    }
    .Pricing-card{
        width: auto;
        height:350px;
        background-color: white;
        border-radius: 8px;
        display: block;
        padding: 0;
        margin: 20px 0;
    }
    .Pricing-card .plan{
        width: auto;
        height: 250px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color:inherit;
    }
    .Pricing-card .plan ul{
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 200px;
    }
   
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 4px;
    }    
    .form .form-input{
        width: auto;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .form h2{
        font-size: 28px;
    }
    .copyright p{
        font-size: 14px;
        font-weight: 500;
        text-align: center;
          
     }
     .copyright a{
        font-size: 14px;
        text-decoration: none;
        color:red;
    
     }
     .success-msg{
        position: relative;
        margin: auto;
        margin-top: 50%;
        font-size: 16px;
        width: 200px;
        height: auto;
        font-weight: 400;
        color:darkgray;
        background-color: white;
        text-align: center;
        padding:20px 10px;
        border-radius: 12px;
        box-shadow: 1px 1px 16px rgba(18, 238, 29, 0.5);
    }
    .sqr1, .sqr2, .sqr3{
        text-align: left;
    }
    .about{
        padding: 10px;
        flex-direction: column;
    }
    .about-text{
        background-color: black;
        height:auto;
        width: 100%;
        margin-top: 20%;
        margin-bottom: 10%;
        border-radius: 12px;
    }
    .about-text h2{
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        padding: 20px;
        color: white;
    }
    .about-text p{
        font-size: 12px;
        text-align: left;
        padding: 0 20px;
       
    }
    .profile-img, .p-image{
        width: 200px;
        height: 200px;
    }
}
